[Unit]
Description=aMule ED2k Downloader
Wants=network-online.target
After=network-online.target

[Service]
User=amuled
Group=amuled
Type=simple
ExecStart=
ExecStop=
Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=multi-user.target
