[Unit]
Description=aMule ED2k Downloader
Wants=network.target
After=network.target

[Service]
User=amuled
Type=simple
ExecStart=/usr/bin/amuled
NoNewPrivileges=True

[Install]
WantedBy=multi-user.target
