[Unit]
Description=aMule Web UI
Wants=network.target
After=network.target

[Service]
User=amuled
Group=amuled
Type=simple
ExecStart=
ExecStop=

[Install]
WantedBy=multi-user.target
