[Unit]
Description=ARIA2 Downloader
Wants=network-online.target
After=network-online.target

[Service]
User=aria2
Type=simple
ExecStart=/usr/bin/aria2c

[Install]
WantedBy=multi-user.target
